.noteful-notediv {
	border: 1px solid gray;
	margin: 5px 0;
	padding: 10px;
	color: black;
	background-color: #E9EBF8;
}

.noteful-notediv h1 {
	color: #840032
}

.noteful-notediv h5 {
	font-weight: 100
}

.noteful-notediv button {
	cursor: pointer
}