.noteful-sidebar {
	box-sizing: border-box;
	list-style: none;
	width: 30%;
	min-width: 125.55px;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.noteful-sidebar button {
	width: 100%;
	font-size: 15px;
	padding: 10px;
	cursor: pointer
}

.active {
	color: purple;
	text-decoration: underline;	
}

