.AddNote {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px auto
	
}

.AddNote label {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 10px 0
}

.AddNote input, .AddNote textarea {
	margin-left: 5px
}