.noteful-body {
	width: 100%;
	min-width: 485px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 10px 10px;
	margin-top: 20px;
}


.noteful-inner-body {
	box-sizing: border-box;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 800px;
	
}